        <section class="section-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="title-sm">Contact Us</span>
                        <div class="contact-us-content">
                            <strong>Ph:</strong> 02 9620 6100 <br>
                            <strong>Estimating:</strong> estimating@simmonscivil.com.au<br> 
                            <strong>Accounts:</strong> accounts@simmonscivil.com.au <br>
                            <strong>Address:</strong> 5 St James Place, Seven Hills NSW 2147<br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="title-sm">Quick Links</span>
                        <div class="quick-links">
                            <ul>                                
                                <li>> Services</li> 
                                <li>> Meet the Team</li> 
                                <li>> Capabilites</li> 
                                <li>> Featured Projects</li> 
                                <li>> Careers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 footer-logo">
                        <img src="./assets/images/logo.svg"/>
                    </div>
                </div>
            </div>
        </section>