        <section class="section-director-view">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="image-col">
                            <img src="./assets/images/director-view.png" />         
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="content-col-wrapper">
                              <div class="content-text">
                                    <p>
                                        We've grown from modest beginnings – now a preferred industry leader. 
                                        With enviable expertise and resources, we provide complete civil construction services, adaptable to any scale and scope of work 
                                        and eliminating the need to employ multiple contractors.</br> 
                                        We're committed to delivering services to an exceptional standard <strong>every time</strong>.
                                    </p>
                                    <p>
                                        "Our lted in plenty of repeat business with developers across Sydney's metropolitan area, all the way up to Newcastle and its surrounds."
                                    </p>
                                    <p>
                                        <b>NICK SIMMONS - MANAGING DIRECTOR</b>
                                    </p>
                                </div>  
                                <a href="" class="btn-link-blue">Read More</a>  
                        </div>
                    </div>
                </div>
            </div>
        </section>