        <section class="section-capabilities">
            <div class="container">
                <div class="row content-capabilities-row">
                    <div class="col-md-6">
                        <div class="content-capabilities-wrapper">
                            <h2>Capabilities</h2>
                            <div class="content-text">
                                Simmons Civil Contracting delivers a comprehensive scope of civil
                                contracting services across Sydney and its surrounding areas. We 
                                work with a range of companies and developers as the preferred choice 
                                when embarking on projects that require a range of tasks completed within 
                                deadline and to a high standard.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-wrapper">
                            <img src="./assets/images/capabilities.png"/>
                        </div>
                    </div>
                </div>
                <div class="row capabilities-cards-row">
                    <div class="col-md-4 capabilities-card">
                        <h5><span>ROAD & MARITIME SERVICES (RMS) WORKS</span></h5>
                        <div class="capbilities-text">
                            Simmons Civil Contracting has been awarded a pre-
                            qualification by the Department of RMS in R3 category 
                            at F20 financial level.
                        </div>
                    </div>
                    <div class="col-md-4 capabilities-card">
                        <h5><span>ROAD & MARITIME SERVICES (RMS) WORKS</span></h5>
                        <div class="capbilities-text">
                            Simmons Civil Contracting has been awarded a pre-
                            qualification by the Department of RMS in R3 category 
                            at F20 financial level.
                        </div>
                    </div>
                    <div class="col-md-4 capabilities-card">
                        <h5><span>ROAD & MARITIME SERVICES (RMS) WORKS</span></h5>
                        <div class="capbilities-text">
                            Simmons Civil Contracting has been awarded a pre-
                            qualification by the Department of RMS in R3 category 
                            at F20 financial level.
                        </div>
                    </div>
                   

                </div>
            </div>

        </section>