    <section class="section-accreditations">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span class="title-sm">Accreditations</span>
                </div>
            </div>
            <div class="row accreditation-icons-row">
                <div class="col-3 accreditation-icon">
                    <img src="./assets/images/bsi-logo.png"/>
                </div>
                <div class="col-3 accreditation-icon">
                    <img src="./assets/images/cm3-logo.png"/>
                </div>
                <div class="col-3 accreditation-icon">
                    <img src="./assets/images/ccf-logo.png"/>
                </div>
                <div class="col-3 accreditation-icon">
                    <img src="./assets/images/rms-logo.png"/>
                </div>
            </div>
        </div>
    </section>