        <section class="section-page-desc">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-desc">
                            <h3>
                                Operating in and around Sydney NSW since 1993,
                                Simmons Civil Contracting provides a comprehensive scope 
                                of civil contracting services
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>