		<header class="site-header">
			<div class="container">
				<div class="row top-bar">
					<div class="col-2 logo">
						<img src="./assets/images/logo.svg"/>
					</div>
					<div class="col-10">
						<nav id="site-navigation" class="main-navigation">
							<div class="menu-navigation-container">
								<ul id="menu-navigation" class="main-menu">
									<li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5">
										<a href="http://simmons.dev/sample-page/">ABOUT US</a>
									</li>
									<li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-6 is-focused">
										<a href="http://simmons.dev/hello-world/">CAPABILITIES</a>
									</li>
									<li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-6 is-focused">
										<a href="http://simmons.dev/hello-world/">FEATURED PROJECTS</a>
									</li>
									<li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-6 is-focused">
										<a href="http://simmons.dev/hello-world/">CAREERS</a>
									</li>
									<li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-6 is-focused">
										<a href="http://simmons.dev/hello-world/">CONTACT US</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<div class="row header-content">
					<div class="col-md-7 col-sm-12">
						<h1>A leading full-service contractor</h1>
						<h4>At Simmons Civil, we strive to build relationships based on trust and respect.</h4>
						<a href="" class="btn-link-blue">Read More</a>
					</div>
				</div>
			</div>

		</header>